body
{
    text-align: center;
}

h1{
    text-align: center;
    text-decoration: wavy;
    color: chocolate;
}
.shell
{
  min-width: 1680px;
  width: 100%;
}

.test
{
  text-align: center;
  float: center;
  width: 100%;
}

grid 
{
  display: grid;
  grid-template-columns: 1fr 100%;
}
