body {
    text-align: center;
    background-color: black;
    color: white;
}

.seperator {
    height: 1px;
    border-bottom: 3px solid indianred;
    width: 100%;
}


.textbox h1 {
    text-align: center;
    text-decoration: wavy;
    color: white;
    font: 40px times new roman;
}

.shell {
    min-width: 1680px;
    width: 100%;
}

.textbox {
    color: white;
    text-align: justify;
    font-family: 'calibri', sans-serif;
    font-size: 22px;
    width: 40%;
    margin: auto;
    border-style: solid;
    border-color: indianred;
    border-width: 5px;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
}

    .textbox a {
        text-decoration: none;
        position: sticky;
    }

.header {
    display: inline-block;
    width: 100%;
    height: 200px;
    text-align: center;
}

.title {
    height: 200px;
    width: 1200px;
    margin: auto;
    margin-top: 50px;
    align-items: center;
    display: block;
}

    .title h1 {
        font: bold 50px calibre;
        padding: 15px;
    }

grid {
    display: grid;
    grid-template-columns: 1fr 100%;
}

.content {
    grid-column: 2;
    grid-row: 1;
}

.section {
    position: sticky;
    display: flex;
    top: 2rem;
    grid-column: 1 / -1;
    grid-row: 1;
}

    .section li a:hover {
        color: red;
    }

ul, ol {
    list-style: none;
    margin: 0px;
    padding: 2px;
    color: white;
    justify-items: left;
}

ol{
    margin-left: 3rem;
    color: red;
}

ul {
    margin-left: 3rem;
}

li {
    margin-left: 2rem;
    padding: 3px
}

    li a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font: times new roman;
        padding: 2px;
        margin: 2px
    }

.textbox h1 img {
    height: 75px;
    width: 125px;
    padding-left: 5px;
    padding-right: 5px;
    position: sticky;
}

.carousel p {
    color: black;
}

.carousel h5 {
    color: black;
}

.textbox h1 {
    padding: 5px;
}
